<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/css.css">
	<script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
	<!-- 分页组件开始 -->
<script src="../plugins/angularjs/pagination.js"></script>
<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
<!-- 分页组件结束 -->
	<script type="text/javascript">
		var app=angular.module("myApp",['pagination']);
		app.controller("classController",function($scope,$http){
			$scope.paginationConf = {
					 currentPage: 1,
					 totalItems: 10,
					 itemsPerPage: 2,
					 perPageOptions: [2, 10, 20, 30, 40, 50],
					 onChange: function(){
					        	 $scope.reloadList();//重新加载
					 }
			}; 
			 $scope.reloadList=function(){
				 $scope.findList($scope.paginationConf.currentPage,$scope.paginationConf.itemsPerPage)
			 }
			$scope.findList=function(page,size){
				$http.get("../ding/list.do?page="+page+'&size='+size).success(function(a){
					console.log(a);
					$scope.list=a.rows;
					$scope.paginationConf.totalItems=a.total;
				})
			}
		})
	</script>
	<body ng-app="myApp" ng-controller="classController" ng-init="reloadList()">
	<h1>订单列表</h1>
	<input type="button" value="添加" ng-click="add()">
		<table>
			<tr>
				<td>订单编号</td>
				<td>课程id</td>
				<td>订单金额</td>
				<td>购买人</td>
				<td>下单日期</td>
				<td>状态</td>
				<td>操作</td>
			</tr>
			<tr ng-repeat="x in list">
				<td>{{x.id}}</td>
				<td>{{x.cid}}</td>
				<td>{{x.jin}}</td>
				<td>{{x.name}}</td>
				<td>{{x.date}}</td>
				<td ng-if="x.falg==0">待支付</td>
				<td ng-if="x.falg==1">已支付</td>
			</tr>
		</table>
		<!-- 分页 -->
	<tm-pagination conf="paginationConf"></tm-pagination>
	</body>
</html>